{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block col %}
    <div class="col mt-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Start-Time</th>
                <th scope="col">End-Time</th>
                <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for lecture in lectures %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ url_for('blackboard.link_blackboard',room_id=lecture.room.id,mode='blackboard') }}">
                            {{ lecture.room.full_name }} ({{ lecture.name }})</a></td>
                    <td>{{ lecture.start_time | df }} </td>
                    <td>{{ lecture.end_time | df }} </td>
                    <td>{{ lecture.duration }} min</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}