{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block col %}
    <div class="col mt-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Lecture</th>
                <th scope="col">User</th>
                <th scope="col">Room</th>
                <th scope="col">Start-Time</th>
                <th scope="col">End-Time</th>
                <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for l_session in l_sessions %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ url_for('blackboard.link_blackboard',room_id=l_session.room.id,mode='blackboard') }}">
                            {{ l_session.name }}</a></td>
                    <td>{{ l_session.lecture.name }} </td>
                    <td>{{ l_session.maintainer.username }} </td>
                    <td>{{ l_session.room.name }} </td>
                    <td>{{ l_session.start_time | df }} </td>
                    <td>{{ l_session.end_time | df }} </td>
                    <td>{{ l_session.duration }} min</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}