{% extends 'layout.html' %}

{% block meta %}
    {% if bb_session %}
        <meta content="{{ bb_session.to_token_string() }}" name="session-token"/>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackboard/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackboard/toolbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackboard/blackboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackboard/blackboard.style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='colorPicker/colorPick.css') }}">

    {% block blackboard_css %}
    {% endblock %}
{% endblock %}

{% block navbar_right %}
    <li class="nav-item">
        <span class="nav-link" id="status">Not Connected</span>
    </li>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='components/marked/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/atrament/dist/atrament.min.js') }}"></script>
    <script src="{{ url_for('static', filename='colorPicker/colorPick.js') }}"></script>

    {% block blackboard_js %}
        {% assets "js_blackboard" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}

    <script>
        $(document).ready(obbSocket.init({
            namespace: '/blackboard'
        }));
    </script>
{% endblock %}
