{% extends 'layout.html' %}

{% block meta %}
    {% if bb_session %}
        <meta content="{{ bb_session.to_token_string() }}" name="session-token"/>
    {% endif %}
{% endblock %}

{% block navbar_right %}
    <li class="nav-item">
        <span class="nav-link" id="status">Not Connected</span>
    </li>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='components/marked/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/atrament/dist/atrament.min.js') }}"></script>

    <script src="{{ url_for('static', filename='blackboard/main.js') }}"></script>
    <script src="{{ url_for('static', filename='blackboard/connection.js') }}"></script>

    {% block blackboard_js %}
    {% endblock %}
{% endblock %}
