{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block blackboard_js %}
    {% assets "js_blackboard_user" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block row %}
    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <textarea id="MarkdownEditor" class="form-control" style="width: 100%;height: 20em"></textarea>

        </div>
        <div class="col-6">
            <div id="MainContent" class="PageContent" data-pageId="current">
            </div>

            <div data-for="MainContent" class="ContentToolBox mt-1">
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Room</div>
                <div class="card-body">
                    <div>
                        <a href="{{ url_for('blackboard.lecture_download',lecture_id=l_session.lecture.id) }}"
                           target="_blank">
                            <i class="fas fa-download"></i>
                        </a>
                    </div>
                    <hr/>
                    {{ show_form(edit_form,id='roomEdit') }}
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">Clients</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mode</th>
                            <th scope="col">Draw?</th>
                            <th scope="col">New Page?</th>
                            <th scope="col">Sync</th>
                        </tr>
                        </thead>
                        <tbody id="UserList">

                        </tbody>
                    </table>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
