{% extends 'blackboard/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='blackboard/main.css') }}">
{% endblock %}

{% block blackboard_js %}
    {% assets "js_blackboard_board" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block row %}
    <div class="row justify-content-center flex-grow-1 mt-2">
        <div class="col align-content-center">
            {% include 'blackboard/content/contentElement.html' %}
        </div>
    </div>
{% endblock %}


