{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block row %}
    <div class="row justify-content-center">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    Create
                </div>
                <div class="card-body">
                    {{ show_form(create_form,id='CreateRoom',action=url_for('blackboard.room_create')) }}
                </div>

                <hr/>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a href="#" onclick="$('#room_name').val('{{ room.name }}')">{{ room.name }}</a>
                            </td>
                            <td>
                                <a>{{ room.creator.username }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Rooms</div>
                <div class="card-body">


                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Lectures</div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        {% for lecture in current_user.lectures %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('blackboard.lecture_show',lecture_id= lecture.id) }}">{{ lecture.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col">Open?</th>
                    <th scope="col">Room</th>
                    <th scope="col">Start-Time</th>
                    <th scope="col">End-Time</th>
                    <th scope="col">Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for l_session in lecture_sessions %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {%- if l_session.is_open() -%}
                                <a href="{{ url_for('blackboard.link_user',r=l_session.room_id) }}">{{ l_session.name }}</a>
                            {%- else -%}
                                {{ l_session.name }}
                            {%- endif -%}
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                        <td><span
                                class="{{ 'is-open' if l_session.is_open() else 'is-close' }}">{{ 'Open' if l_session.is_open() else 'Closed' }}</span>
                        </td>
                        <td><a href="#">{{ l_session.room.name }}</a></td>
                        <td>{{ l_session.start_time | df }} </td>
                        <td>{{ l_session.end_time | df }} </td>
                        <td>{{ l_session.duration }} min</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
