{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block row %}
    <div class="row justify-content-center">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    Create
                </div>
                <div class="card-body">
                    {{ show_form(create_room_form,id='CreateRoom',action=url_for('blackboard.room_create')) }}

                    <hr/>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in rooms %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <button class="btn btn-link p-0"
                                            onclick="$('#CreateLecture #room_name').val('{{ room.name }}')">
                                        {{ room.name }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Create Session</div>
                <div class="card-body">
                    {{ show_form(create_session_form,id='CreateLecture',action=url_for('blackboard.session_create')) }}
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Lectures</div>
                <div class="card-body">

                    {{ show_form(create_lecture_form,id='CreateLecture',action=url_for('blackboard.lecture_create')) }}

                    <hr/>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lecture in lectures %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <button class="btn btn-link p-0"
                                            onclick="$('#CreateLecture #lecture_name').val('{{ lecture.name }}')">
                                        {{ lecture.name }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col">Open?</th>
                    <th scope="col">Room</th>
                    <th scope="col">Start-Time</th>
                    <th scope="col">End-Time</th>
                    <th scope="col">Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for l_session in lecture_sessions %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {%- if l_session.is_open() -%}
                                <a href="{{ url_for('blackboard.link_user',r=l_session.room_id) }}">{{ l_session.name }}</a>
                            {%- else -%}
                                {{ l_session.name }}
                            {%- endif -%}
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                        <td><span
                                class="{{ 'is-open' if l_session.is_open() else 'is-close' }}">{{ 'Open' if l_session.is_open() else 'Closed' }}</span>
                        </td>
                        <td><a href="#">{{ l_session.room.name }}</a></td>
                        <td>{{ l_session.start_time | df }} </td>
                        <td>{{ l_session.end_time | df }} </td>
                        <td>{{ l_session.duration }} min</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
