{% extends 'blackboard/layout.html' %}
{% from 'form.html' import show_form %}

{% block row %}
    <div class="row justify-content-center">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    Create
                </div>
                <div class="card-body">
                    {{ show_form(create_form) }}
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Rooms</div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        {% for room in rooms %}
                            {% if True %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for('blackboard.create_session',room_id=room.id) }}">{{ room.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Lectures</div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        {% for lecture in current_user.lectures %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="#">{{ lecture.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start-Time</th>
                    <th scope="col">End-Time</th>
                    <th scope="col">Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for lecture in lectures %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ lecture.name }}</td>
                        <td>{{ lecture.start_time | df }} </td>
                        <td>{{ lecture.end_time | df }} </td>
                        <td>{{ lecture.duration }} min</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
