{% extends 'layout.html' %}

{% block navbar_right %}
    <li class="nav-item">
        <span class="nav-link" id="status">Not Connected</span>
    </li>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='components/marked/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='blackboard/main.js') }}"></script>
    <script src="{{ url_for('static', filename='blackboard/connection.js') }}"></script>

    {% block blackboard_js %}
    {% endblock %}
{% endblock %}
