{% extends "layout.html" %}

{% block content %}
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br>[Firstname] [Lastname]</p>
    <h3>Postanschrift:</h3>
    <p>[Address 1]<br>
        [Address 2]<br>
    </p>
    <h3>Kontakt:</h3>
    <p>E-Mail: [E-Mail]</p>
    <p></p><p><br></p>
    <p></p><h2>Hinweise zur Website</h2>
    <p></p><h3>Verantwortlich für journalistisch-redaktionelle Inhalte ist:</h3>
    <p>Christoph Laßmann<br></p>
    <p></p><h2>Information gemäß § 36 VSBG</h2>
    <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
        Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
    <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>
    <p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator
    der activeMind AG</a> erstellt.</em></p>
{% endblock %}
