.PageContent {
    border: 2px solid lightgrey;
    position: relative;
    background: transparent;
    height: 100%;
    width: 100%;
}

.ContentText {
    position: absolute;
    height: 256px;
    width: 1024px;
}

.contentSketchpad, .ContentBlocker {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}
