.ContentToolBox.CTB-2x button.sketchToolboxControl {
    font-size: 2em;
}

.sketchToolboxControl {
}


.sketchToolboxControl.modeControl {
    color: black;
}

.sketchToolboxControl.userModeControl {
    border: 2px solid transparent;
}

.sketchToolboxControl.userModeControl.globalMode {
    border-color: orange;
    border-radius: 4px;
}

.sketchToolboxControl.disabled {
    color: gray;
}

/* Colorpicker */
.sketchToolboxControl.colorPickSelector {
    border-radius: 5px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.sketchToolboxControl.colorPickSelector .colorPickButton {
    width: 1em;
    height: 1em;
}
