.sketchToolboxControl {
}

.sketchToolboxControl.modeControl{
    color: black;
}

.sketchToolboxControl.disabled{
    color: gray;
}

.colorPickSelector {
  border-radius: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

