#ContentBox {
    border: 2px solid lightgrey;
    position: relative;
    background: transparent;
    height: 100%;
    width: 100%;
}

#ContentText {
    position: absolute;
}

.contentSketchpad, #ContentBlocker {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}


#content h1 {
    margin-bottom: 0.25rem;
}

#content p {
    font-size: 24px;
    margin: 0px;
}

#content li {
    font-size: 24px;
}