<div id="content">
    <canvas id="contentSketchpadUser" class="contentSketchpad" style="opacity: 50%;z-index: 4;">

    </canvas>
    <canvas id="contentSketchpadGlobal" class="contentSketchpad" style="z-index: 3;">

    </canvas>
    <div id="contentText" style="z-index: 1;{{ room.get_style() }}">

    </div>

    <div id="contentBlocker" style="z-index: 0">

    </div>
</div>
<div class="row mt-1">
    <div class="col-auto">
        <div class="row">
            <div class="col-auto"><i class="fas fa-arrow-left"></i></div>
            <div id="cmdEnableDraw" class="col-auto"><i class="far fa-check-square"></i></div>
        </div>
    </div>
    <div class="col">
    </div>
    <div class="col-auto">
        <i class="fas fa-arrow-right ml-2"></i>
    </div>
</div>