<div id="Content">
    <div id="ContentBox">
        <canvas id="ContentSketchpadUser" class="contentSketchpad" style="opacity: 50%;z-index: 4;">

        </canvas>
        <canvas id="ContentSketchpadGlobal" class="contentSketchpad" style="z-index: 3;">

        </canvas>
        <div id="ContentText" style="z-index: 0;{% if room %}{{ room.get_style() }}{% endif %}">

        </div>

        <div id="ContentBlocker" style="z-index: 2">

        </div>
    </div>
</div>

<div id="ContentToolBox" class="mt-1">
    <div class="row">
        <div class="col-auto">
            <div class="row justify-content-center">
                <button id="cmdGetLeftPage" class="btn col-auto sketchToolboxControl">
                    <i class="fas fa-arrow-left fa-3x"></i>
                </button>

                <div id="cmdModeDraw" class="sketchToolboxControl modeControl">
                    <i class="fas fa-pen fa-3x"></i>
                </div>
                <div id="cmdModeEraser" class="sketchToolboxControl modeControl">
                    <i class="fas fa-eraser fa-3x"></i>
                </div>

                <input id="rangeThickness" type="range" min="1" max="20" value="2" step="0.1">

            </div>
        </div>
        <div class="col">
        </div>
        <button id="cmdCreateRightPage" class="btn sketchToolboxControl">
            <i class="fas fa-plus ml-2 fa-3x"></i>
        </button>
        <button id="cmdGetRightPage" class="btn sketchToolboxControl">
            <i class="fas fa-arrow-right fa-3x"></i>
        </button>
    </div>
</div>
