<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Blackboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/font-awesome/css/all.css') }}">

    {% block css %}
    {% endblock %}

</head>
<body>


{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('public.home') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('public.home') }}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blackboard.home') }}">Blackboard
                    </a>
                </li>
                {% if current_user and current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blackboard.connect_to') }}">Connect to
                        </a>
                    </li>
                    {% if current_user.is_admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
                                <a class="dropdown-item" href="#">Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                {% block navbar_left %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav my-auto">
                {% block navbar_right %}
                {% endblock %}

                {% if current_user and current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logged in
                            as {{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('public.logout') }}">Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('public.login') }}">Login
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('public.register') }}">Register
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        {% block row %}
            <div class="row justify-content-center">
                {% block col %}
                    <div class="col-auto">
                        {% block content %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

<script src="{{ url_for('static', filename='components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='components/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='components/font-awesome/js/all.js') }}"></script>

<script src="{{ url_for('static', filename='components/socket.io-client/dist/socket.io.js') }}"></script>

{% block js %}
{% endblock %}
</body>
</html>